body { text-align: center; padding: 50px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
#article { display: block; text-align: left; width: auto; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
.marker {
  font-size: 98px;
  min-width: 98px;
  height: 98px;
}
.gameGrid {
  width: 60%;
}

@media all and (min-width: 1300px) {
  .gameGrid {
    width: 40%
  }
}
@media all and (max-width: 900px) {
  .gameGrid {
    width: 90%
  }
}